button {
    background: none;
    border: none;
}

div.container {
    display: grid;
    grid-template-columns: 330px 330px 330px 330px;
    /* grid-template-rows: */
}

div {
    align-self: auto;
}