h2 {
    color: #b27581;
    font-size: 40px;
    font-family: "Rampart One", system-ui;
    text-align: center;
}

label.form-label,
div.col {
    font-family: "Madimi One", sans-serif;
}

#uploadBtn {
    color: #d77488;
    background-color: #3a4c2e;
    font-weight: 500;
}

form {
    background-color: #496039b7;
}

form.was-validated {
    margin-left: 55em;
}

button.btn.btn-primary {
    background-color: #f47a92c6;
}

.toast {
    background: #f47a92c6;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}

/* recipe upload page css */
#uploadCont {
    max-width: 800px;
    max-height: 800px;
    text-align: center;
}

#uploadBtn {
    max-width: 245px;

}

#recipe-upload {
    columns: 2;
    height: 500px;
}

div.card {
    margin-top: 5rem;
    color: rgb(255, 120, 120);
    font-family: "Madimi One";
    font-size: large;
    background-color: #3a4c2e;
}

#share {
    color: rgb(255, 120, 120);

}

#desc,
#recipe-ingredients,
#recipe-method,
#recipe-title {
    color: #3a4c2e;
    font-family: "Madimi One";
    border-radius: 15%;

}

#submitBtn {
    background-color: #f47a92c6;
    color: whitesmoke;
    font-family: "Madimi One";
    max-width: fit-content;
    align-self: center;
    cursor: pointer;
}