h2 {
    color: #b27581;
    font-size: 40px;
    font-family: "Rampart One", system-ui;
    text-align: center;
}

label.form-label,
div.col {
    font-family: "Madimi One", sans-serif;
}

#uploadBtn {
    color: #d77488;
    background-color: #3a4c2e;
    font-weight: 500;
}

form {
    background-color: #4d653db7;
}

button.btn.btn-primary {
    background-color: #f47a92c6;
}