 .header {
     background-color: #e4e9df;
 }

 #title {
     color: #3a2b2e;
     font-size: 40px;
     font-family: "Rampart One", system-ui;
     font-weight: 400;
 }

 img {
     border-radius: 50%;
 }


 #login,
 #home,
 #logout {
     color: #000000;
     font-size: 20px;
     font-family: "Rampart One", system-ui;
 }

 #btn {
     color: black;
     background-color: #4c6c3c;
 }